@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background: #d6d0d0;
}

// #636f8e;
// #101929;
// #313f59;
// #afb8c2;
// #d6d0d0;
